@import "tailwindcss";

@theme{
    --animate-slide-in: slide-in 0.5 ease-in-out;
    --animate-slide-out: slide-out 0.5 ease-in-out;

    @keyframes slide-in {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    @keyframes slide-out {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}